.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilos para a barra de rolagem */
::-webkit-scrollbar {
  width: 10px; /* largura da barra de rolagem */
}

/* Track (parte da barra de rolagem que não está preenchida) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* cor de fundo */
}

/* Thumb (parte da barra de rolagem que o usuário arrasta) */
::-webkit-scrollbar-thumb {
  background: #888; /* cor do botão de rolagem */
}

/* Hover no Thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* cor do botão de rolagem ao passar o mouse */
}
